<section class="m-t-lg m-b-lg">
    <div class="container">
        <div class="row m-t-md">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
</section>
