<header class="jumbotron bg-inverse text-center center-vertically" role="banner">
    <div class="container">
        <h1 class="display-3">{{ site.header.title }}</h1>
        <h2 class="m-b-lg">{{ site.header.description }}</h2>
    </div>
</header>
